.tag {
  border: solid 0 var(--color-bg-medium-light-red);
  background-color: var(--color-bg-medium-light-red);
  border-radius: var(--corner-radius-default);
  color: var(--color-normal-text);
  font-family: var(--font-main);
  font-size: 14px;
  font-weight: 500;
  line-height: 19.96px;
  text-align: center;

  padding: 3px 22px;
}

@media (max-width: 480px) {
  .tag {
    min-width: 84px;
  }
}