:root {
  --site-logo-height-desktop: 68px;
  --site-logo-width-desktop: 211px;
  --site-logo-height-mobile: 47px;
  --site-logo-width-mobile: 147px;

  --footer-padding-top-desktop: 66px;
  --footer-padding-bottom-desktop: 29px;
  --footer-padding-top-mobile: 62px;
  --footer-padding-bottom-mobile: 62px;
}

.mainFooter {
  background-color: var(--color-bg-black);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
@media (max-width: 800px) {
  .mainFooter {
    padding: 66px 0 62px 0;
    height: calc(209px - var(--footer-padding-bottom-mobile) - var(--footer-padding-top-mobile));
  }
}
@media (min-width: 801px) {
  .mainFooter {
    padding: 66px 0 29px 0;
    height: calc(209px - var(--footer-padding-bottom-desktop) - var(--footer-padding-top-desktop));
  }
}

.mainFooter p {
  font-weight: 500;
  text-align: center;
}
@media (max-width: 800px) {
  .mainFooter p { font-size: 12px; }
}