@import "~reset-css/reset.css";

:root {
  /* Colors: backgrounds */
  --color-bg-main: rgba(255,255,255,1);;
  --color-bg-medium-light-red: rgba(255,96,96,1);
  /* Colors: texts */
  --color-normal-text: rgba(255,255,255,1);

  /* ROUNDED */
  --corner-radius-default: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}