@import "~reset-css/reset.css";
@import "./assets/styles/reset-personnal.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Colors: backgrounds */
  --color-bg-main: rgba(255,255,255,1);
  --color-bg-black: rgba(0,0,0,1);
  --color-bg-light-red: rgba(246, 246, 246, 1);
  --color-bg-medium-light-red: rgba(255,96,96,1);
  --color-bg-silver: rgba(196,196,196,1);
  --color-bg-very-light-gray: rgba(246, 246, 246, 1);
  /* Colors: texts */
  --color-normal-text: rgba(255,255,255,1);
  --color-reverse-text: var(--color-bg-medium-light-red);
  --color-gainsboro: rgba(227, 227, 227, 1);

  /* Fonts */
  --font-main: 'Montserrat', sans-serif;

  /* ROUNDED */
  --corner-radius-default: 10px;

  /* Margin */
  --body-margin-sides-desktop: 100px;
  --body-margin-sides-mobile: 20px;
}

@import "./assets/styles/arrows.css";

html {
  height: 100%;
  min-height: 100%;
  max-width: 100%;
}
body,
body > div,
body > div > div {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: calc(380px - 2 * var(--body-margin-sides-mobile));
}

body > div > div {
}

body {
  color: var(--color-normal-text);
  font-family: var(--font-main);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 800px) {
  body {
    font-size: 12px;
    line-height: 17.11px;
  }
}
@media (min-width: 800px) {
  body {
    font-size: 24px;
    line-height: 34.22px;
  }
}

body > div {
  width: 100%;
}

body .App > header,
body .App > div {
  margin: 0 auto;
}
@media (max-width: 800px) {
  .App > header,
  .App > div { width: calc(100% - 2 * var(--body-margin-sides-mobile)); }
}
@media (min-width: 801px) {
  .App > header,
  .App > div {
    max-width: 1240px;
    width: calc(100% - 2 * var(--body-margin-sides-desktop));
  }
}

a {
  color: var(--color-bg-medium-light-red);
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}