.thumb {
  background: linear-gradient(179deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 1) 209%), var(--thumb-bkg) center center no-repeat, var(--color-bg-medium-light-red);
  border-radius: var(--corner-radius-default);

  aspect-ratio: 1 / 1;
  /* height: 340px;
  width: 340px; */
  padding: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-end;
}

.thumb h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;

  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}
.thumb h2 a {
  color: var(--color-bg-main);
}

@media (max-width: 800px) {
  .thumb {
    --padding-sides: 15px;
    width: calc(100% - 2 * var(--padding-top-bottom));
    padding: 15px var(--padding-sides);
  }
}