:root {
  --site-logo-height-desktop: 68px;
  --site-logo-width-desktop: 211px;
  --site-logo-height-mobile: 47px;
  --site-logo-width-mobile: 147px;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.mainHeader .siteLogo {
  background-color: var(--color-bg-main);
  background-image: url('./medias/kasa_logo.png');
  background-repeat: no-repeat;
  background-size: var(--site-logo-width-desktop) var(--site-logo-height-desktop);
  text-indent: -9000px;

  flex: 1;
  display: block;
  height: var(--site-logo-height-desktop);
  width: var(--site-logo-width-desktop);
}
.mainHeader ul {
  flex: 1;
}
.mainHeader li {
  display: inline-block;
}
.mainHeader li:not(:last-child) {
  margin-right: 57px;
}
.mainHeader a {
  color: var(--color-bg-medium-light-red);
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;
}
.mainHeader a.active {
  text-decoration: underline;
}

.mainHeader .illustration {
  background-image: url('./medias/kasa_illustration.png');
  background-color: var(--color-bg-main);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: calc(var(--corner-radius-default) * 1.5);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;

  height: 223px;
  width: 100%;
}

.mainHeader .illustration p {
  font-size: 48px;
  font-weight: 500;
  line-height: 68.45px;
}

@media (max-width: 480px) {
  /* .mainHeader {} */
  .mainHeader .siteLogo {
    background-color: var(--color-bg-main);
    background-image: url('./medias/kasa_logo.png');
    background-size: var(--site-logo-width-mobile) var(--site-logo-height-mobile);

    height: var(--site-logo-height-mobile);
    width: var(--site-logo-width-mobile);
  }
  .mainHeader a {
    text-transform: uppercase;
  }
  .mainHeader li:not(:last-child) {
    margin-right: 10px;
  }
}