:root {
  --site-logo-height-desktop: 68px;
  --site-logo-width-desktop: 211px;
  --site-logo-height-mobile: 47px;
  --site-logo-width-mobile: 147px;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;

  padding: 20px 0 0 0;
}
.mainHeader .siteLogo {
  flex: 0;
}
@media (min-width: 801px) {
  .mainHeader .siteLogo {
    height: var(--site-logo-height-desktop);
    width: var(--site-logo-width-desktop);
  }
}
@media (max-width: 800px) {
  .mainHeader .siteLogo {
    height: var(--site-logo-height-mobile);
    width: var(--site-logo-width-mobile);
  }
}

.mainHeader ul {
  align-self: center;
  flex: 1;
}
.mainHeader li {
  display: block;
  float: right;
}

@media (max-width: 800px) {
  .mainHeader li:not(:first-child) { margin-right: 10px; }
}
@media (min-width: 801px) {
  .mainHeader li:not(:first-child) { margin-right: 57px; }
}
.mainHeader a {
  font-weight: 500;
}
@media (max-width: 800px) {
  .mainHeader a { text-transform: uppercase; }
}
@media (min-width: 801px) {
  .mainHeader a { text-transform: capitalize; }
}

.mainHeader .illustration {
  background-image: url('./../../assets/medias/kasa_illustration.png');
  background-color: var(--color-bg-main);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: calc(var(--corner-radius-default) * 1.5);
  text-align: center;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;

  height: 223px;
  width: 100%;
}

.mainHeader p {
  font-weight: 500;
}
@media (max-width: 800px) {
  .mainHeader p {
    font-size: 24px;
    line-height: 24px;
  }
}
@media (min-width: 801px) {
  .mainHeader p {
    font-size: 48px;
    line-height: 68.45px;
  }
}