.equipment {
  background-color: var(--color-bg-very-light-gray);
  border-radius: var(--corner-radius-default);
}
.equipment.down .content {
  display: none;
}
.equipment.down .arrow  {
  padding: 6px;
  margin-top: -6px;
}
.equipment.up .content {
  border-radius: var(--corner-radius-default);

  display: block;
  padding: 40px 20px 27px;
}
.equipment.up .arrow  {
  padding: 6px;
  margin-top: 6px;
}
.equipment button {
  color: var(--color-normal-text);
  border-radius: var(--corner-radius-default);
  font-family: var(--font-main);
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;

  width: 100%;
  padding: 13px 20px;
}

.equipment button span {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.equipment ul,
.equipment p {
  color: var(--color-reverse-text);
  font-family: var(--font-main);
  font-weight: 400;
}
.equipment ul {
  font-size: 18px;
  line-height: 25.67px;
}
.equipment p {
  font-size: 24px;
  line-height: 34.22px;
}

@media (max-width: 480px) {
  .equipment {}
}